<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210913457906-5fv60j9ql6ns2vne2q2h8ma5f4mkpp3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210913457906-5fv60j9ql6ns2vne2q2h8ma5f4mkpp3m</string>
	<key>API_KEY</key>
	<string>AIzaSyCKKnidCNq2cCfQcOOU29ntiBcrKRhHOwI</string>
	<key>GCM_SENDER_ID</key>
	<string>210913457906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-4f755</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-4f755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210913457906:ios:82b7d2e800df634a16426b</string>
</dict>
</plist>